<section class="section px-6">
  <div class="grid">
    <div class="cell is-col-span-8 card p-0">
      <header class="card-header">
        <h2 class="card-header-title has-text-centered">Your Cart</h2>
      </header>
      <div class="card-content px-5">
        <% if @cart.blank? %>
          <h2 class="subtitle my-6 is-5 has-text-centered">There is nothing in your cart</h2>
        <% else %>
          <% @cart.each do |product| %>
            <div class="grid mb-0">
              <h2 class="subtitle is-5"><%= product[:product].name %></h2>
              <h4 class="subtitle is-6"><%= link_to 'remove', remove_from_cart_path(product[:product][:id]), data: { turbo_method: :delete } %></h4>
              <%= form_with(url: change_quantity_path(product[:product][:id])) do |f| %>
                <%= f.text_field :quantity, value: product[:quantity] %>
                <%= f.submit "Update" %>
              <% end %>
              <p class="subtitle is-5 has-text-right"><%= number_to_currency (product[:subtotal]) %></p>
            </div>
          <% end %>
        <% end %>
        <div class="">
          <h3 class="subtitle is-5 has-text-right has-text-weight-bold">Subtotal <%= number_to_currency @cart_total%></h3>
          <h4 class="subtitle is-5 has-text-right has-text-weight-bold">Tax TBD</h4>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item">Checkout</a>
      </footer>
    </div>
  </div>
</section>
