<section class="section px-6">
  <div class="grid">
    <div class="cell is-col-span-8 card p-0">
      <header class="card-header">
        <h2 class="card-header-title has-text-centered">Log in</h2>
      </header>
      <div class="card-content px-5">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="fixed-grid has-1-cols">
            <div class="field grid">
              <%= f.label :email, class: "cell mt-4 mb-2" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "cell input is-rounded" %>
            </div>

            <div class="field grid">
              <%= f.label :password, class: "cell mt-4 mb-2" %>
              <%= f.password_field :password, autocomplete: "current-password", class: "cell input is-rounded" %>
            </div>

            <div class="actions my-5">
              <%= f.submit "Log in" %>
            </div>
          </div>
        <% end %>

        <%= render "customers/shared/links" %>
      </div>
    </div>
  </div>
</section>