<div class="cell is-col-span-12 is-flex"><%= paginate products %></div>
<div class="cell is-col-span-6">
  <div class="grid is-gap-0 is-col-min-10">
    <% products.each do |product| %>
      <%= link_to product, class: "product-card-link" do %>
        <div class="cell card is-shadowless is-radiusless m-0">
          <div class="card-image p-5">
            <figure class="image">
              <%= image_tag product.image.variant(:small_display), alt: product.name %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media-content">
              <p class="title is-4"><%= product.name %></p>
              <p class="subtitle is-6">$<%= product.price %></p>
            </div>
            <% if current_page?(controller: 'products', action: 'search') %>
              <div class="content">
                <%= product.description %>
              </div>
              <footer class="card-footer">
                <% product.categories.each do |category| %>
                    <p class="card-footer-item">
                      <span>
                        <%= category.name %>
                      </span>
                    </p>
                <% end %>
              </footer>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>