<div class="cell is-col-span-4 mx-6 px-6">
  <aside class="menu">
    <p class="menu-label">Search</p>
      <%= form_with(url: search_products_path, method: "get") do |form| %>
        <div class="field has-addons">
          <div class="control">
            <%= form.label :q, "Search products:", class: "is-sr-only" %>
          </div>
          <div class="control">
            <%= form.text_field :q, class:"input" %>
          </div>
          <div class="control">
            <%= form.collection_select :category_filter, Category.order(:name), :name, :name, { :include_blank => "Any" } %>
          </div>
          <div class="control">
            <%= form.submit "Search", class:"button is-info" %>
          </div>
        </div>
      <% end %>
    <p class="menu-label">Categories</p>
    <ul class="menu-list">
      <% Category.all.each do |category| %>
        <li><%= link_to category.name, category %></li>
      <% end %>
    </ul>
    <p class="menu-label">Filter By:</p>
  </aside>
</div>